@font-face{
    font-family: myFirstFont;
    src: url(../font/Pokemon\ GB.ttf);
    src: url(../font/pokemon_gb-webfont.woff) format('woff'),
         url(../font/pokemon_gb-webfont.woff2) format('woff2');

}



@media only screen and (min-width: 600px) {
   
 body{
     font-family: myFirstFont;
 }
    
    .image {
        width: 200px;
    }
    
    #horoscope {
        position: relative;
        top: -100px;
        left: 200px;
        width: 600px
    }
   
    .wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 960px;
        position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       box-shadow:0 6px 128px rgba(0, 0, 0, 0.3), 0 0 72px rgba(0, 0, 0, 0.1);
    }
   
    .wrapper:before, .wrapper:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.wrapper:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
    
    #sprite{
        text-align: center;
    }

    body {
        background-image: url('../images/pokeball.jpg');
        font-family: myFirstFont;
        font-variant-caps: petite-caps;
    }
    #rcorners2 {
        border-radius: 25px;
        border: 2px solid rgb(184, 184, 184);
        padding: 20px;
        width: auto;
        margin: 10px;
        
      }
}

#name {
    font-size: 7px;
}

#type {
    font-size: 7px;
}

#weight {
    font-size: 7px;
}

#height {
    font-size: 7px;
}

#rcorners2 {
    border-radius: 25px;
    border: 2px solid rgb(184, 184, 184);
    padding: 20px;
    width: auto;
    
  }
  

.wrapper
{
    background-color: 	white;
    font-family: myFirstFont;
    font-size: 12%;
}

.footer {
    padding: 1rem;
    background-color: #BE202F;
}

.hero {
    background-color: #BE202F;
    border-radius: 10px;
    
}
form{
    border: 8px solid black;
    border-radius: 40px;
}
h1{
    text-shadow:
    -2px -2px 0 #000,
    2px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}